.skills__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* three boxes in one row */
	column-gap: 2rem;
	justify-content: center;
	align-items: stretch; /* all boxes equal height */
	width: 100%;
}

.skills__content {
	background-color: var(--container-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 2rem 1.5rem;
	border-radius: 1.25rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.skills__title {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	text-align: center;
	margin-bottom: 1rem;
}

.skills__box {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 0.75rem;
}

.skills__group {
	display: grid;
	row-gap: 0.5rem;
}

.skills__data {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.skills .bx-badge-check {
	font-size: 1rem;
	color: var(--title-color);
}

.skills__name {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	line-height: 1.5rem;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 992px) {
	.skills__container {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 2rem;
	}
}

@media screen and (max-width: 576px) {
	.skills__container {
		grid-template-columns: 1fr;
	}
	.skills__content {
		padding: 1.5rem;
	}
}

@media screen and (max-width: 350px) {
	.skills__name {
		font-size: var(--small-font-size);
	}
}
